# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Dependencies and Build Directories
node_modules/
.svelte-kit/
.vercel/
build/
dist/

# Miscellaneous and Static Assets
/static/
.env
.env.*
